<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="confirmAddOppModalLabel">
        إضافة الفرصة الأحترافية
      </h1>
      <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
    </div>
    <div class="modal-body">
      انت علي وشك إضافة عملية إضافة الفرصة الأحترافية, هل أنت متأكد من هذا
      الأجراء ؟
    </div>
    <div class="modal-footer justify-content-center">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-dismiss="modal"
        routerLink="professional-opp"
      >
        إضافة الفرصة
      </button>
      <button type="button" class="btn btn-light" data-bs-dismiss="modal">
        العودة لعملية الإضافة
      </button>
    </div>
  </div>
</div>
